

.container{
  width: 40%;
  box-shadow: 5px 10px 18px #888888;
  background-color: #008E89;
  height: 200px;
  color: #fff;
}
.contact{
  padding:2px 12px;
}

.practice{
  margin-left: 40px;
  border: 1px solid red;

}
